@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("reset.css");
@import url("header.css");
@import url("home.css");
@import url("about.css");
@import url("skills.css");
@import url("projects.css");
@import url("contact.css");
@import url("footer.css");
@import url("mobile.css");

:root {
    --primary-color: #080808;
    --second-color: #101010;
    --text-color: white;
    --main-color: #ca0bf5;
}


html{
    font-size: 62.5%;
}

body {
    background: var(--primary-color);
    color: var(--text-color);
}



